textarea {
	height: 150px;
}

input,
textarea {
	display: block;
	width: 100%;
	max-width: 100%;
}

section, aside {
	display: inline-block;
	vertical-align: top;
}

section {
	width: 80%;
}

aside {
	width: 19%;
}

aside input {
	width: 80px;
}

ul {
	margin: 0;
}

ul li {
	list-style: none;
	display: inline-block;
	vertical-align: top;
}
